<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="5">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5p #%x(%X{UNIQUE-IDENTIFIER}) %logger - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>

        <logger name="requestService-logger" level="INFO" additivity="false">
            <AppenderRef ref="controller-logger"/>
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="stack-logger" level="INFO" additivity="false">
            <AppenderRef ref="generateAnswerService-logger"/>
        </logger>

        <logger name="messageService-logger" level="DEBUG" additivity="false">
            <AppenderRef ref="independent-logger"/>
        </logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>